body
{
  background-color: #E2FDFF;
}

label
{
  font-size: 30px;
  font-weight: bold;
  color: #63A3A7;
}

input [type="text"], input [type="password"]
{
  border-radius: 25px;
  text-align: center;
  width: 80%;
  margin-left: 5%;
  margin-bottom: 2%;
  font-family: 'Ubuntu', sans-serif;
  color: #E9E9E9;
}

#title
{
  font-size: 40px;
  width: 100%
  margin: 2% 5%;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  color: #395D60;
  font-weight: bold;
}

#boxedText
{
  font-size: 30px;
  width: 70%;
  margin-left: 15%;
  padding: 25px;
  background-color: #E9E9E9;
}

#box
{
  display: inline-block;
  font-size: 0.8em;
  width: 90%;
  text-align: center;
  margin-left: 5%;
  margin-bottom: 5%;
  font-family: 'Ubuntu', sans-serif;
  color: #D90000;
}
